
/* basic setup */

p, a {
	font-family: 'Lato', helvetica;
}

h1 {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

article {
	font-size: 5em;
}

/* video background */

body {
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
}

#video-background {
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
}

h1 {
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 1.5em;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

#logo {
  max-width: 70%;
  margin-top: 30%;
}